@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-image: url(images/bgc-img.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ---------------------------------------------------------NAV------------------------------------------- */
.header-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

ul.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
  gap: 0 4rem;
  cursor: pointer;
}

.callus-container {
  position: relative;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.callus-container img {
  position: absolute;
  right: 15rem;
  top: 0;
  cursor: pointer;
}

.progress-bar {
  width: 75%;
  background-color: #ffffff;
  height: 2px;
  /* margin: auto; */
  top: 8rem;
  left: 32rem;
  position: absolute;
}

/* ---media query--- */
@media screen and (max-width: 1200px) {
  ul.nav-bar {
    display: none;
  }
  .progress-bar {
    display: none;
  }
}

/* ------------------Section-left---------------------- */

.section-container {
  display: flex;
  justify-content: space-between;

  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 90%;
  /* border: 2px solid red; */
  margin: 0 auto;
}

.heading {
  color: #ffffff;
  font-size: 6rem;
  font-weight: 700;
  margin-top: 5rem;
}

.section-left button {
  margin-top: 5rem;
  background-color: transparent;
  color: #ffffff;
  font-size: 2rem;
  border: 2px solid #ffffff;
  padding: 1rem 2.5rem;
  border-radius: 2.5rem;
  cursor: pointer;
}

/* ---------------Section Right---------------------------- */

.section-right {
  /* border: 1px solid red; */
  min-width: 50%;
  position: relative;
}

.section-right__top {
  position: relative;
  /* right: 2rem; */
  left: 35rem;
  background-color: #304556;
  opacity: 0.9;
  width: 40%;
  height: 45%;
}

.fa-puzzle-piece {
  font-size: 2.5rem;
  color: #000000;
  background-color: #fff;
  padding: 0.5rem 2rem;
  margin-top: 3.6rem;
  margin-left: 2rem;
  border-radius: 2rem;
}

.section-right__top p {
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 400;
}

.progress-bar_1 {
  width: 2px;
  background-color: #9bb2c5;
  height: 80px;
  margin: auto;
  position: absolute;
  left: 18rem;
  bottom: -8rem;
}

.circle-1 {
  width: 20px;
  background-color: #ffffff;
  height: 20px;
  margin: auto;
  position: absolute;
  left: 17.1rem;
  bottom: -10rem;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .section-container {
    flex-direction: column;
    align-items: center;
  }

  .section-right__top {
    left: 10rem;
  }
  .section-right {
    padding-top: 5rem;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .progress-bar_1,
  .progress-bar_2,
  .circle-1,
  .circle-2 {
    display: none;
  }
}
/* -------------------------------------------------------------- */

.section-right__bottom {
  position: relative;
  margin-top: 8rem;
  background-color: #304556;
  opacity: 0.9;
  width: 40%;
  height: 45%;
}

.fa-lightbulb {
  font-size: 2.5rem;
  color: #000000;
  background-color: #fff;
  padding: 0.5rem 2rem;
  margin-top: 3.6rem;
  margin-left: 2rem;
  border-radius: 2rem;
}

.section-right__bottom p {
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 400;
}

.progress-bar_2 {
  width: 80px;
  background-color: #9bb2c5;
  height: 2px;
  margin: auto;
  position: absolute;
  right: -8rem;
  bottom: 10rem;
}

.circle-2 {
  width: 20px;
  background-color: #ffffff;
  height: 20px;
  position: absolute;
  top: -0.9rem;
  left: 8rem;
  border-radius: 50%;
}
